@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* header styles */
  

  /* navbar style */
  .navbar{
    padding: 20px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .logo-container h3{
    font-size: 32px;
    font-weight: 700;
    margin: 0;
  }

  .menu-container{
    display: flex;
    gap: 32px;
  }
  .menu-container a{
    text-decoration: none;
    font-size: 20px;
  }
  #home{
    color: orange;
    font-weight: 700;
  }
  #about{
    color: skyblue;
    font-weight: 600;
  }
  #facilities{
    color: #05D4DF;
    font-weight: 600;
  }
  #admission{
    color: #5D58EF;
    font-weight: 600;
  }
  .nav-btn{
    padding: 10px 60px;
    background-color: orange;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
  }
  .nav-btn:hover{
    background-color: #5D58EF;
  }
  /* banner style */
  .banner{
    padding: 0 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .banner-info{
    width: 640px;
  }
  .banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 0;
  }
  #empowering{
    color: orange;
  }
  #towards-vision{
    color: skyblue;
  }
  .banner-description{
    font-size: 1.25rem;
    margin-bottom: 24px;
    margin-top: 0px;
  }
  .banner-button{
    font-size: 20px;
    color: white;
    padding: 10px 47px;
    background-color: black;
    border-radius: 10px;
  }
  .banner-image{
    margin: 0;
  }
  /* curriculum styles */
  .standard-curriculum{
    background-image: url(assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .standard-curriculum-container{
    padding: 0 140px;
  }
  .standard-curriculum-title{
    text-align: center;
    font-size: 3rem;font-weight: 700;
    margin: 80px;
  }
  .curriculum-container{
    display: flex;
    justify-content: space-between;
  }
  .curriculum-card{
    width: 370px;
    height: 480px;
    text-align: center;
    justify-content: center;
  }
  .curriculum-card img{
    margin-top: 52px;
  }
  .curriculum-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 32px 0;
  }
  .curriculum-description{
    font-size: 15px;
    font-weight: 600;
  }
  .curriculum-btn{
    font-size: 15px;
    font-weight: 700;
  }
  .btn1{
    color: #64C8FF;
  }
  .btn2{
    color: #F0AA00;
  }
  .btn3{
    color: #F0AA00;
  }
  .side-button{
    height: 60px;
    width: 130px;
    display: flex;
    gap: 20px;
    margin: 80px auto;
  }
  .card-1{
    border-radius: 18px;
    background-image: 
    linear-gradient(to bottom, rgba(255, 94, 58, 0.8), rgba(255, 206, 156, 0.5), white);
    border: 0.5px solid #64C8FF;

  }
  .card-2{
    background-image: 
    linear-gradient(to bottom, rgba(0, 75, 160, 0.8), rgba(0, 198, 255, 0.5), white);
    border-radius: 18px;
    border: 0.5px solid #e3f829;
  }
  .card-3{
    background: linear-gradient(to bottom, rgba(34, 139, 34, 0.8), rgba(144, 238, 144, 0.5), white);
    border-radius: 18px;
    border: 0.5px solid #F0AA00;
  }

  /* stories style */

  .our-stories-section {
    background-image: 
  linear-gradient(to top, rgba(254, 163, 1, 0.3), rgba(254, 163, 1, 0)), 
  url(assets/bg.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
  }
  
  .our-stories-section-container{
    padding: 0 140px;
    display: flex;
    flex-direction: column; 
  }
  .our-stories-title{
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
  }
  .our-stories-container{
    display: flex;
    justify-content: space-around;
  }
  .story1{
    height: 635px;
    width: 540px;
  }
  .stories img{
    width: 100%;
  }
  .stories-container{
    display: grid;
    grid-template-columns: repeat(2,290px);
    grid-template-rows: repeat(2,300px);
    gap: 40px;
    border-radius: 18px;
  }
  .stories-btn{
    font-size: 15px;
    font-weight: 600;
    border-radius: 50px;
    padding: 15px 18px;
    background-color: #3CD8E8;
    border: none;
    margin-top: -100px;
    color: white;
  }
  .stories-btn, .stories-subtitle, .stories-description,.storie-subtitle{
    margin-left: 35px;
    margin-right: 20px;
  }
  .stories{
    background-color: white;
    border-radius: 18px;
  }
  .storie-subtitle{
    font-size: 24px;
    font-weight: 700;
    
  }
  .stories .stories-subtitle{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .btn-1{
    background-color: #3CD8E8;
  }
  .btn-2{
    background-color: #95B226;
  }
  .btn-3{
    background-color: #5D58F0;
  }
  .btn-4{
    background-color: #95B226;
  }
  .btn-5{
    background-color: #95B226;
  }
  
  .our-stories-container img{
    border-radius: 18px 18px 0 0;
  }
  .stories-section-btn{
    font-size: 20px;
    color: white;
    padding: 10px 47px;
    background-color: black;
    border-radius: 10px;
    margin: 80px auto;
    display: block;
  }
  /* footer style */
  footer{
    background-color: #01ACFD;
  }
  .footer-container{
    padding: 150px 140px;
    color: white;
    display: flex;
    justify-content: space-around;
  }
  .footer-title{
    width: 400px;
  }
  .title-logo{
    display: flex;
    align-items: center;
  }
  .title-logo h3{
    margin: 0;
    font-size: 35px;
    font-weight: 700;
    margin-top: 0;
  }
  .title-logo img{
    width: 83px;
    height: 82px;
  }
  .footer-des{
    margin-top: 40px;
    font-size: 20px;
  }
  .footer-about h5{
    font-weight: 700;
    font-size: 24px;
    margin-top: 0;
  }
  .footer-about h6{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .footer-logos h3{
    margin-top: 0;
    margin-bottom: 30px;
  }
  @media screen and (max-width:576px) {
    .navbar, .standard-curriculum-container, .our-stories-section-container,
    .footer-container{
      padding: 0;
      justify-content: space-between;
    }
    .logo-container h3{
      display: none;
    }
    .menu-container{
      display: none;
    }
    .curriculum-container,.banner{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .banner-title, .banner-description
    {
      text-align: center;
    }
    .banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
  
    .banner-button {
      margin: 20px auto;
    }

    .banner-info {
      width: 100%;
      text-align: center;
    }
    .banner-button{
      display: block;
      align-items: center;
      justify-content: center;
    }
    .curriculum-container{
      gap: 20px;
    }
    .stories-container{
      grid-template-columns: repeat(2,
      1fr);
      grid-template-rows: repeat(1,1fr);
      margin: 10px 0;
    }
    .story1{
      display: none;
    }
    .footer-container{
      flex-direction: column;
      gap: 50px;
      padding-left: 20px;
      padding-right: 20px;
    }

  }



  
  



